{"openapi":"3.0.0","info":{"title":"nvp.gg API Documentation","version":"1.0.0","license":{"name":"GNU AGPLv3","url":"https://choosealicense.com/licenses/agpl-3.0/","sponsor":{"description":"If you'd like to support me, you can at either GitHub Sponsors, or Ko-Fi","github_sponsors":"https://github.com/sponsors/NullVoxPopuli?frequency=one-time&amount=5","ko_fi":"https://ko-fi.com/nullvoxpopuli"},"note":"If you copy my project, you are required to open source it.  Open Source software helps everyone out by providing free learning materials and examples to be used in projects that are closed source.  This project aims to be an example of how to do certain things for others (and mostly myself), and knowledge alone should not be kept secret.  I am allowed to take legal action if you try to make money on a closed-source copy of this project."},"contact":{"name":"API Support","email":"support@nvp.gg","url":"https://nvp.local/_/support"},"termsOfService":"https://nvp.local/_/terms","description":"Documentation for the [`{ json:api }`](https://jsonapi.org) API for using [nvp.gg](https://nvp.gg)\n\n------------------------\n\nUnauthenticated users are limited to 1 request per minute.\n\nAuthenticated users are limited to 100 requests per minute.\n\nAll endpoints use the `application/vnd.api+json` MIME type for both `Accept` and `Content-Type` headers.\n\nThe links endpoints accept an API key via `Authorization: Bearer nvp_...` — create one in the dashboard under \"API Keys\". Keys carry scopes (`links:read`, `links:write`) and are pinned to the account they were created in. Everything else requires the first-party browser session."},"components":{"securitySchemes":{"apiKey":{"type":"http","scheme":"bearer","description":"An API key (`nvp_...`), created in the dashboard under \"API Keys\". Keys are scoped (`links:read`, `links:write`) and pinned to one account."}},"schemas":{"jsonapi":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json"},"Any":{"description":"Any JSON object not defined as schema"},"Relationship":{"description":"A { json:api } Relationship","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":"string","id":"string"}}}}},"Link":{"description":"A Link","schema":{"type":"object","properties":{"id":"string","attributes":{"schema":{"type":"object","properties":{"shortUrl":"string","visits":"integer","createdAt":"date","updatedAt":"date","expiresAt":"date"}}},"relationships":{"type":"object","properties":{"ownedBy":{"$ref":"#/components/schemas/Relationship"},"createdBy":{"$ref":"#/components/schemas/Relationship"}}}}}},"Unauthenticated":{"description":"Unauthenticated","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Not Found","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"UnsupportedMediaType":{"description":"Unsupported Media Type","content":{"application/json":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/errors"},"text/html":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/errors"},"*":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/errors"}}},"Error":{"description":"A{ json:api } error. See: https://jsonapi.org/examples/#error-objects","schema":{"type":"object","properties":{"status":{"type":"string"},"title":{"type":"string"},"detail":{"type":"string"},"source":{"type":"string"},"code":{"type":"string"}}}}}},"servers":[{"url":"https://api.nvp.gg","description":"The API endpoint for nvp.gg"}],"tags":[],"paths":{"/v1/links":{"get":{"summary":"List links","description":"Lists the account's links. Accepts an API key with the `links:read` scope. Supports `sort` (e.g. `-createdAt`), `page[number]`/`page[size]`, and `fields[link]` sparse fieldsets.","security":[{"apiKey":[]}],"parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."},{"name":"include","in":"query","required":false,"schema":{"type":"string"},"description":"Comma-separated relationship paths to sideload into `included` (e.g. `ownedBy,createdBy`). Unknown paths are a 400."}],"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"links":{"type":"object"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}}}}},"401":{"$ref":"#/components/schemas/Unauthenticated"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}},"post":{"summary":"Create links","description":"Creates a short link on the account. Body is a { json:api } resource document: { \"data\": { \"type\": \"link\", \"attributes\": { \"original\": \"https://...\", \"domain\": \"optional-custom-domain\" } } }. Accepts an API key with the `links:write` scope.","security":[{"apiKey":[]}],"parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."},{"name":"include","in":"query","required":false,"schema":{"type":"string"},"description":"Comma-separated relationship paths to sideload into `included` (e.g. `ownedBy,createdBy`). Unknown paths are a 400."}]}},"/v1/links/{id}":{"get":{"summary":"Show link","description":"Shows one of the account's links. Accepts an API key with the `links:read` scope.","security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."},{"name":"include","in":"query","required":false,"schema":{"type":"string"},"description":"Comma-separated relationship paths to sideload into `included` (e.g. `ownedBy,createdBy`). Unknown paths are a 400."}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"},"included":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/included"}},"example":{"data":{"attributes":{"originalURL":"https://bah"}},"included":[]}}}}}}},"delete":{"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}],"summary":"Delete link","description":"Deletes one of the account's links. 404 when there is nothing to delete. Accepts an API key with the `links:write` scope.","security":[{"apiKey":[]}]}},"/v1/links/{id}/visits":{"get":{"summary":"List visits for a link","description":"Lists recorded visits (\"clicks\") for one of the account's links, most recent first. Each visit records when it happened, the referrer, and the user agent. Accepts an API key with the `links:read` scope.","security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}],"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"}}},"example":{"data":[{"type":"visit","id":"1","attributes":{"visitedAt":"2026-08-09T14:00:00.000Z","referrer":"https://example.com/","userAgent":"Mozilla/5.0 (...)"}}]}}}}},"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}}},"/v1/accounts":{"post":{"summary":"Create an additional account","description":"Creates an additional (non-personal) account with you as admin. Body is a { json:api } resource document: { \"data\": { \"type\": \"account\", \"attributes\": { \"name\": \"...\" } } }. Gated by your personal account's plan: side-hobby 1, hobby 2, project 3, unpaid 0 (402 when full)."}},"/v1/accounts/{id}":{"get":{"summary":"Show account","description":"Shows your authenticated user's account. Other accounts are not visible. Billing details are not included here — see the billing endpoints.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"},"included":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/included"}},"example":{"data":{"type":"account","id":"uuid","attributes":{"name":"Acme","isFree":false}},"included":[]}}}}},"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}}},"/v1/accounts/{id}/memberships":{"get":{"summary":"List account members","description":"Lists the members of an account you belong to.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"include","in":"query","required":false,"schema":{"type":"string"},"description":"Comma-separated relationship paths to sideload into `included` (e.g. `user,account.admin`). Unknown paths are a 400."}],"responses":{"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}}},"/v1/accounts/{id}/invitations":{"get":{"summary":"List pending invitations","description":"Lists pending invitations (account admins only).","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"include","in":"query","required":false,"schema":{"type":"string"},"description":"Comma-separated relationship paths to sideload into `included` (e.g. `account.admin`). Unknown paths are a 400."}],"responses":{"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}},"post":{"summary":"Create an invitation","description":"Creates a shareable invitation link (account admins only). Gated by the plan's teammate limit (402 when full). The response's acceptUrl is the link to share.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}]}},"/v1/invitations/accept":{"post":{"summary":"Accept an invitation","description":"Accepts an invitation token, joining its account as a member. Body: { \"token\": \"...\" }. Idempotent for existing members."}},"/v1/invitations/{id}":{"delete":{"summary":"Revoke an invitation","description":"Revokes a pending invitation (account admins only).","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}]}},"/v1/memberships/{id}":{"delete":{"summary":"Remove a member","description":"Admins may remove anyone; members may remove themselves (leave). The account owner cannot be removed. When the removed member was active in that account, their active account falls back to their personal one.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}]}},"/v1/api-keys":{"get":{"summary":"List API keys","description":"Lists your API keys for the account, with the account-wide quota in `meta` ({ limit, used, remaining }). Key secrets are never included. Managing keys requires the browser session — a key cannot mint or revoke keys.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}],"responses":{"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}},"post":{"summary":"Create an API key","description":"Creates an API key on your membership in the account. Body: { \"name\": \"...\", \"scopes\": [\"links:read\", \"links:write\"], \"expiresInDays\": 90 } (expiresInDays optional — omit for a non-expiring key). Gated by the account plan's API key limit: hobby 1, project 3, others 0 (402 when full). The secret (the `token` attribute, `nvp_...`) is ONLY in this response — store it immediately. Use it as `Authorization: Bearer nvp_...` on the links endpoints.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}]}},"/v1/api-keys/{id}":{"delete":{"summary":"Revoke an API key","description":"Revokes one of your API keys. 404 when there is nothing to revoke.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}]}},"/v1/domains":{"get":{"summary":"List custom domains","description":"Lists the account's custom domains.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."},{"name":"include","in":"query","required":false,"schema":{"type":"string"},"description":"Comma-separated relationship paths to sideload into `included` (e.g. `account.admin`). Unknown paths are a 400."}],"responses":{"401":{"$ref":"#/components/schemas/Unauthenticated"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}},"post":{"summary":"Add a custom domain","description":"Adds a custom domain for link creation (account admins only). Body is a { json:api } resource document: { \"data\": { \"type\": \"custom-domain\", \"attributes\": { \"hostname\": \"links.example.com\" } } }. Gated by the plan's domain limit (402 when full). Short links can then be created with a \"domain\" property.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}]}},"/v1/domains/{id}":{"delete":{"summary":"Remove a custom domain","description":"Removes a custom domain (account admins only). Links on it stop resolving.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}]}},"/v1/billing/status":{"get":{"summary":"Billing status","description":"The account's plan, usage (links used/remaining this period), Stripe subscription state, and the available plans.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"}},"example":{"data":{"type":"billing-status","id":"account-uuid","attributes":{"hasActiveSubscription":false,"plan":{"key":"none","name":"No subscription","monthlyLinkLimit":5},"usage":{"used":2,"remaining":3}}}}}}}},"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}}},"/v1/billing/checkout":{"post":{"summary":"Start a Stripe Checkout session","description":"Starts a subscription checkout for the account (account admins only). Body: { \"plan\": \"side-hobby\" | \"hobby\" | \"project\" }. Returns the Stripe-hosted checkout URL to redirect the browser to. 409 when a subscription is already active.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}]}},"/v1/billing/portal":{"post":{"summary":"Open the Stripe billing portal","description":"Creates a Stripe billing-portal session for the account (account admins only) — plan changes and cancellation happen there. Returns the portal URL to redirect the browser to.","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"},"description":"The account to operate on — any account you belong to. Defaults to your personal account."}]}},"/v1/users/{id}":{"get":{"summary":"Show user","description":"Shows a user within your authenticated user's account. Other users are not visible.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"},"included":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/included"}},"example":{"data":{"type":"user","id":"uuid","attributes":{"name":"A. Person"}},"included":[]}}}}},"401":{"$ref":"#/components/schemas/Unauthenticated"},"404":{"$ref":"#/components/schemas/NotFound"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}}}}}