{"openapi":"3.0.0","info":{"title":"nvp.gg API Documentation","version":"1.0.0","license":{"name":"GNU AGPLv3","url":"https://choosealicense.com/licenses/agpl-3.0/","sponsor":{"description":"If you'd like to support me, you can at either GitHub Sponsors, or Ko-Fi","github_sponsors":"https://github.com/sponsors/NullVoxPopuli?frequency=one-time&amount=5","ko_fi":"https://ko-fi.com/nullvoxpopuli"},"note":"If you copy my project, you are required to open source it.  Open Source software helps everyone out by providing free learning materials and examples to be used in projects that are closed source.  This project aims to be an example of how to do certain things for others (and mostly myself), and knowledge alone should not be kept secret.  I am allowed to take legal action if you try to make money on a closed-source copy of this project."},"contact":{"name":"API Support","email":"support@nvp.gg","url":"https://nvp.local/_/support"},"termsOfService":"https://nvp.local/_/terms","description":"Documentation for the [`{ json:api }`](https://jsonapi.org) API for using [nvp.gg](https://nvp.gg)\n\n------------------------\n\nUnauthenticated users are limited to 1 request per minute.\n\nAuthenticated users are limited to 100 requests per minute.\n\nAll endpoints use the `application/vnd.api+json` MIME type for both `Accept` and `Content-Type` headers."},"components":{"schemas":{"jsonapi":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json"},"Any":{"description":"Any JSON object not defined as schema"},"Relationship":{"description":"A { json:api } Relationship","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":"string","id":"string"}}}}},"Link":{"description":"A Link","schema":{"type":"object","properties":{"id":"string","attributes":{"schema":{"type":"object","properties":{"shortUrl":"string","visits":"integer","createdAt":"date","updatedAt":"date","expiresAt":"date"}}},"relationships":{"type":"object","properties":{"ownedBy":{"$ref":"#/components/schemas/Relationship"},"createdBy":{"$ref":"#/components/schemas/Relationship"}}}}}},"Unauthenticated":{"description":"Unauthenticated","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"UnsupportedMediaType":{"description":"Unsupported Media Type","content":{"application/json":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/errors"},"text/html":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/errors"},"*":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/errors"}}},"Error":{"description":"A{ json:api } error. See: https://jsonapi.org/examples/#error-objects","schema":{"type":"object","properties":{"status":{"type":"integer"},"title":{"type":"string"},"detail":{"type":"string"},"source":{"type":"string"},"code":{"type":"string"}}}}}},"servers":[{"url":"https://api.nvp.gg","description":"The API endpoint for nvp.gg"}],"tags":[],"paths":{"/v1/links":{"get":{"summary":"List links","description":"Lists links belonging to your authenticated user","parameters":[],"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"links":{"type":"object"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}}}}},"401":{"$ref":"#/components/schemas/Unauthenticated"},"415":{"$ref":"#/components/schemas/UnsupportedMediaType"}}},"post":{"summary":"Create links","description":"Create a new short link belonging to your authenticated user"}},"/v1/links/{id}":{"get":{"summary":"Show link","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"},"included":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/included"}},"example":{"data":{"attributes":{"originalURL":"https://bah"}},"included":[]}}}}}}},"delete":{"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"summary":"Delete link","description":"Delete a link owned by your authenticated user"}}}}