{"openapi":"3.0.0","info":{"title":"nvp.gg API Documentation","version":"1.0.0","description":"Documentation for the [`{ json:api }`](https://jsonapi.org) API for using [nvp.gg](https://nvp.gg)\n\n-----------------------------\n\n\n\n\nAll endpoints use the `application/vnd.api+json` MIME type for both `Accept` and `Content-Type` headers."},"components":{"schemas":{"jsonapi":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json"},"Any":{"description":"Any JSON object not defined as schema"}}},"servers":[{"url":"https://api.nvp.gg","description":"The API endpoint for nvp.gg"}],"tags":[],"paths":{"/v1/links":{"get":{"summary":"List links","description":"Lists links belonging to your authenticated user","requestBody":{"content":{"application/vnd.api+json":{"schema":{}}}},"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"schema":{}}}},"401":{"description":"not authenticated","content":{"application/vnd.api+json":{"schema":{}}}}}},"post":{"summary":"Create links","description":"Create a new short link belonging to your authenticated user"}},"/v1/links/{id}":{"get":{"summary":"Show link","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/resource"},"included":{"$ref":"https://raw.githubusercontent.com/json-api/json-api/refs/heads/gh-pages/_schemas/1.0/schema.json#/definitions/included"}},"example":{"data":{"attributes":{"originalURL":"https://bah"}},"included":[]}}}}}}},"delete":{"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"summary":"Delete link","description":"Delete a link owned by your authenticated user"}}}}