fetch-timeout=6000000

# This was previously manually set to false,
# because we thought we could work with one package
# during preparation for deploy -- this is not the case.
#
# Leaving this true (the default) vastly improves install speed.
shared-workspace-lockfile=true
