@layout.app({ title: "Create" })

<form method="POST" action="/_/lo-fi/create">
  <label>Original URL
    <input name="originalUrl" type="text" />
  </label>
  <button type="submit">Submit</button>
</form>

@end
