@layout.app()
  @slot('meta')
    <meta name="description" content="Privacy Policy" />
  @endslot
  
  <div class="ember-primitives__hero__wrapper">
    <div class="hero-content">
      <h1>
        Privacy Policy
      </h1>
    </div>
  </div>

  <main>
    (wip)
    <p>
      There are no analytics on this platform.
    </p>
    <p>
      Your data is not sold.
    </p>
    <p>
      Your data is never leaves the server.
    </p>
  </main>
@end
