@layout.app()

  @slot('meta')
    <meta name="description" content="Terms and Conditions" />
  @endslot

  <div class="ember-primitives__hero__wrapper">
    <div class="hero-content">
      <h1>
        Terms and Conditions
      </h1>
    </div>
  </div>

  <main>
    <p>
      Don't do stupid stuff. (wip)
    </p>
  </main>
@end
