@layout.app({ title: "Create" })

@slot('meta')
<meta name="description" content="Easy tiny URLs">
@endslot

<em>5.3×10<sup>36</sup> (5.3 undecillion) Possible Links</em>

<a href="/_/lo-fi/create">Create Link</a>

<a href="https://billing.stripe.com/p/login/test_7sIdRDdoz16G3RecMM">Manage Subscription</a>

@end
