<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      @if (title)
        {{ title }} |
      @endif
      nvp.gg | URL Shortener
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    <link href="/css/app.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
  </head>

  <body>
    @!component('components/spritesheet')
    <div class="ember-primitives__sticky-footer__wrapper">
      <div class="ember-primitives__sticky-footer__container">
        <div class="ember-primitives__sticky-footer__content">
          @!component('components/header')

          {{{ await $slots.main() }}}
        </div>
        <div class="ember-primitives__sticky-footer__footer">

          @!component('components/footer')
        </div>
      </div>
    </div>

  </body>

</html>
