<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      @if (title)
        {{ title }} |
      @endif
      nvp.gg | URL Shortener
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    <link href="/css/app.css" rel="stylesheet" />
  </head>

  <body>
    @!component('components/spritesheet')
    <div class="ember-primitives__sticky-footer__wrapper">
      <div class="ember-primitives__sticky-footer__container">
        <div class="ember-primitives__sticky-footer__content">

          <header>
            <div class="left">
              <a href="https://docs.nvp.gg">API Documentation</a>
              |
              <a href="://{{ rootHost }}/_/docs">Pricing</a>
            </div>

            <div class="right">
              @if(auth.isAuthenticated)
                <a class="logout" href="://app.{{ rootHost }}/auth/logout">Logout</a>
                <p>
                  Hello {{ auth.user.name }}
                </p>
              @else
                <a class="login" href="://app.{{ rootHost }}/auth/login">Login</a>
                <a class="signup" href="://app.{{ rootHost }}/auth/signup">Signup</a>
              @end
            </div>
          </header>
          <script>
            const header = document.querySelector("header");

            function onScroll() {
              if (window.scrollY > 0) {
                header.classList.add("did-scroll");
              } else {
                header.classList.remove("did-scroll");
              }
            }
            // Initial, in case we load at a #target

            onScroll();

            window.addEventListener("scroll", onScroll, {
              passive: true
            });
          </script>

          {{{ await $slots.main() }}}
        </div>
        <div class="ember-primitives__sticky-footer__footer">

          @!component('components/footer')
        </div>
      </div>
    </div>

  </body>

</html>
