html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: "Arial";
  font-style: italic;
  text-decoration: underline;

  &.soft {
    text-decoration: none;
  }
}

/**
* Opposite of aria-hidden=true
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ember-primitives__hero__wrapper {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  z-index: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg in oklch, #1252e3, #485de5, #7812e5, #3512c5);
  background-size: 400% 400%;
  animation: gradient-animation 16s ease infinite;
}

.theme-dark .ember-primitives__hero__wrapper {
  background-image: linear-gradient(-45deg in oklch,
      #07133d,
      #101c5c,
      #32166d,
      #090b2a);
}

.ember-primitives__sticky-footer__wrapper {
  height: 100%;
  overflow: auto;
}

.ember-primitives__sticky-footer__container {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.nvp__header {
  z-index: var(--z-site-nav, 50);
}


.nvp__header.home-header {
  position: sticky;
  top: 0;
  margin-bottom: -3.5rem;
  background: transparent !important;
  box-shadow: none;
  backdrop-filter: none;
}

.nvp__header.did-scroll {
  background: rgba(100, 70, 200, 0.75);
  box-shadow: var(--shadow-xl);
  backdrop-filter: blur(5px);
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
