/**
* Copied from
*
* https://github.com/universal-ember/ember-primitives/tree/main/ember-primitives/src/components/layout
*/
.ember-primitives__sticky-footer__wrapper {
  height: 100%;
  overflow: auto;
}
.ember-primitives__sticky-footer__container {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.ember-primitives__hero__wrapper {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

/**
* Copied from SPA
*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: "Arial";
  font-style: italic;
  text-decoration: underline;
}

*:focus-visible {
  --tw-ring-inset: ;
  --tw-ring-offset-color: #0f172a;
  --tw-ring-offset-width: 2px;
  --tw-ring-opacity: 1;
  --tw-shadow: 0 1px 2px 0 #0000000d;
  --tw-ring-color: #e57812;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);

  /* Visible in Windows high-contrast themes */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}

/**
* Opposite of aria-hidden=true
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ember-primitives__hero__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg in oklch, #1252e3, #485de5, #7812e5, #3512c5);
  background-size: 400% 400%;
  animation: gradient-animation 16s ease infinite;
}

.hero-content {
  display: grid;
  gap: 1rem;
  transform: translateY(-20%);
  padding: 0.5rem;

  h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
  }

  em {
    color: white;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shorten-url-form {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.4));

  label {
    display: grid;
    gap: 1rem;
    font-weight: bold;
  }

  input {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
  }

  button {
    justify-self: end;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }

  button[type="submit"] {
    background: white;
    color: black;
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  /* background: rgba(255, 255, 255, 0.5); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4); */
  /* backdrop-filter: blur(5px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */

  .left {
    align-self: start;
    color: white;
    display: flex;
    gap: 1rem;

    a {
      color: white;
    }
  }

  .right {
    align-self: end;
    display: flex;
    gap: 1rem;
  }

  a.logout,
  a.login,
  a.signup {
    display: inline-block;
    text-decoration: none;
    background: white;
    color: black;
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

    &:hover {
      background: #eee;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    }
  }
}

footer {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5rem;
}
